### Making sanity checks for input data

This notebooks facilitates the implementation of sanitu checks for the input raw data, including:

- Check Nulls
- Check columns
- Check descriptors
- Check counts

In [1]:
import pandas as pd

- Checking cell viability file

In [2]:
df_cell_viability = pd.read_excel("../raw_data/Cell Viability.xlsx")
df_cell_viability.shape

(180, 4)

In [3]:
df_cell_viability.describe()

       Treatment (%)  Cell viability (% of control)
count      180.00000                     180.000000
mean        52.50000                      84.506582
std         33.54102                      27.931134
min          0.00000                      19.414484
25%         37.50000                      69.706680
50%         60.00000                      91.657448
75%         75.00000                     100.000000
max         90.00000                     152.906977

In [4]:
df_cell_viability.head()

  Cell line  Enzyme  Treatment (%)  Cell viability (% of control)
0        RQ  ASNase              0                     100.000000
1        RQ  ASNase              0                     100.000000
2        RQ  ASNase              0                     100.000000
3        RQ  ASNase             50                     102.024291
4        RQ  ASNase             50                     129.554656

In [5]:
df_cell_viability["Cell line"].value_counts()

Cell line
RQ       60
DFB      60
MCF-7    60
Name: count, dtype: int64

In [6]:
df_cell_viability["Enzyme"].value_counts()

Enzyme
ASNase    36
GLNase    36
SDH       36
GO        36
ADI       36
Name: count, dtype: int64

In [7]:
df_cell_viability["Treatment (%)"].value_counts()

Treatment (%)
0     45
50    45
70    45
90    45
Name: count, dtype: int64

In [8]:
grid = (
    df_cell_viability
    .groupby(["Cell line", "Treatment (%)"])["Cell viability (% of control)"]
    .mean()
    .reset_index()
)
grid

   Cell line  Treatment (%)  Cell viability (% of control)
0        DFB              0                     100.000000
1        DFB             50                     100.055866
2        DFB             70                      92.658228
3        DFB             90                      51.932773
4      MCF-7              0                     100.000000
5      MCF-7             50                     105.492372
6      MCF-7             70                      85.139241
7      MCF-7             90                      46.841294
8         RQ              0                     100.000000
9         RQ             50                      99.460189
10        RQ             70                      96.860465
11        RQ             90                      35.638554

- Checking KI67

In [9]:
df_proliferation = pd.read_excel("../raw_data/KI67.xlsx")
df_proliferation.shape

(60, 4)

In [10]:
df_proliferation.describe()

       Treatment (%)  Ki67-positive cells (% of control)
count      60.000000                           60.000000
mean       52.500000                           73.584442
std        33.729985                           37.034604
min         0.000000                            2.810304
25%        37.500000                           48.834882
50%        60.000000                           79.252049
75%        75.000000                          100.000000
max        90.000000                          146.604215

In [11]:
df_proliferation.head()

  Cell line  Enzyme  Treatment (%)  Ki67-positive cells (% of control)
0        RQ  ASNase              0                          100.000000
1        RQ  ASNase             50                           27.987743
2        RQ  ASNase             70                           12.257406
3        RQ  ASNase             90                           80.592441
4        RQ  GLNase              0                          100.000000

In [12]:
df_proliferation["Cell line"].value_counts()

Cell line
RQ       20
DFB      20
MCF-7    20
Name: count, dtype: int64

In [13]:
df_proliferation["Enzyme"].value_counts()

Enzyme
ASNase    12
GLNase    12
SDH       12
GO        12
ADI       12
Name: count, dtype: int64

In [14]:
df_proliferation["Treatment (%)"].value_counts()

Treatment (%)
0     15
50    15
70    15
90    15
Name: count, dtype: int64

In [15]:
grid = (
    df_proliferation
    .groupby(["Cell line", "Enzyme", "Treatment (%)"])["Ki67-positive cells (% of control)"]
    .mean()
    .reset_index()
)
grid

   Cell line  Enzyme  Treatment (%)  Ki67-positive cells (% of control)
0        DFB     ADI              0                          100.000000
1        DFB     ADI             50                           92.930328
2        DFB     ADI             70                           78.381148
3        DFB     ADI             90                           61.577869
4        DFB  ASNase              0                          100.000000
5        DFB  ASNase             50                           40.676230
6        DFB  ASNase             70                           83.196721
7        DFB  ASNase             90                           62.602459
8        DFB  GLNase              0                          100.000000
9        DFB  GLNase             50                           52.049180
10       DFB  GLNase             70                           54.098361
11       DFB  GLNase             90                           79.815574
12       DFB      GO              0                          100.000000
13       DFB      GO             50                           60.143443
14       DFB      GO             70                           75.614754
15       DFB      GO             90                           71.823770
16       DFB     SDH              0                          100.000000
17       DFB     SDH             50                           60.245902
18       DFB     SDH             70                           69.569672
19       DFB     SDH             90                           45.799180
20     MCF-7     ADI              0                          100.000000
21     MCF-7     ADI             50                          135.831382
22     MCF-7     ADI             70                          146.604215
23     MCF-7     ADI             90                           78.688525
24     MCF-7  ASNase              0                          100.000000
25     MCF-7  ASNase             50                           66.744731
26     MCF-7  ASNase             70                           55.269321
27     MCF-7  ASNase             90                           42.388759
28     MCF-7  GLNase              0                          100.000000
29     MCF-7  GLNase             50                          121.779859
30     MCF-7  GLNase             70                          135.597190
31     MCF-7  GLNase             90                            2.810304
32     MCF-7      GO              0                          100.000000
33     MCF-7      GO             50                          137.470726
34     MCF-7      GO             70                           98.126464
35     MCF-7      GO             90                           20.374707
36     MCF-7     SDH              0                          100.000000
37     MCF-7     SDH             50                          122.014052
38     MCF-7     SDH             70                           95.081967
39     MCF-7     SDH             90                            7.494145
40        RQ     ADI              0                          100.000000
41        RQ     ADI             50                           37.997957
42        RQ     ADI             70                            7.048008
43        RQ     ADI             90                          100.612870
44        RQ  ASNase              0                          100.000000
45        RQ  ASNase             50                           27.987743
46        RQ  ASNase             70                           12.257406
47        RQ  ASNase             90                           80.592441
48        RQ  GLNase              0                          100.000000
49        RQ  GLNase             50                           36.465781
50        RQ  GLNase             70                            6.332993
51        RQ  GLNase             90                           95.403473
52        RQ      GO              0                          100.000000
53        RQ      GO             50                           35.750766
54        RQ      GO             70                            4.800817
55        RQ      GO             90                           74.974464
56        RQ     SDH              0                          100.000000
57        RQ     SDH             50                           49.846782
58        RQ     SDH             70                            5.822268
59        RQ     SDH             90                           84.371808